@{
    ViewBag.Title = "CourseUnit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parallax Template - Materialize</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize-v0.97.5/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materialize-v0.97.5/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <style>
    .head-details{
    background-color: white;
    height: 1000px;
    color: black;
    }

    .main-card{
    /*width:1000px;
    left: 170px;*/
    margin-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    height: 500px;
    }
    .dates-card{
    height: 300px;
    }

    </style>
</head>
<body>
    <!--NAV BAR -->
    <div class="navbar-fixed">
        <!-- Navbar goes here -->
        <nav class="white wrapper" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="index.html" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">


                    <li><a href="sass.html">Home</a></li>
                    <li><a href="collapsible.html">Profile</a></li>
                    <li><a href="index.html">Sign Out</a></li>
                    <!-- <li><div class="user-view">
                        <a href="#!user"><img class="circle" src="demo.png"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        </div></li> -->
                </ul>
            </div>
        </nav>

    </div>


    <!-- INDEX BANNER-->
    <div id="index-banner" class="parallax-container head-details">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h5 class="header center teal-text text-lighten-2">Engineering Mathematics II </h5>
                <div class="row center">
                    <h5 class="header lighten-2-text">Against the foundation of the Calculus and Algebra covered in EMT1101, this course develops the fundamental aspects of Mathematical Analysis critical to Engineering. The major themes include; Ordinary Differential Equations, Real Analysis, Complex Variable Analysis, and Numerical Analysis. </h5>
                </div>
                <br><br>

            </div>
        </div>
        <!-- <div class="parallax"><img class ="img_height" src="background2.jpg" alt="Unsplashed background img 1"></div> -->
        <div class="card teal darken-4 main-card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s10">
                        <span class="card-title">Stay Up-to-Date</span>
                    </div>
                    <div class="col s2">
                        <!-- Modal Trigger -->
                        <a href="#modal1" class="waves-effect waves-light btn modal-trigger white black-text">SUBMIT</a>
                        

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8">
                        <!-- TABS FOR MATERIALS AND BOOKS-->
                        <div class="row ">
                            <div class="col s12 no-pd">
                                <ul class="tabs tabs-icon">
                                    <li class="tab col s3"><a href="#test1">MATERIALS</a></li>
                                    <li class="tab col s3"><a href="#test2">BOOKS</a></li>
                                </ul>
                            </div>
                            <div id="test1" class="col s12">
                                <ul class="collection black-text">
                                    <li class="collection-item">Lecture Notes 1</li>
                                    <li class="collection-item">Lecture Notes 2</li>
                                    <li class="collection-item">Lecture Notes 3</li>
                                    <li class="collection-item">Lecture Notes 4</li>
                                    <li class="collection-item">Lecture Notes 5</li>
                                    <li class="collection-item">Lecture Notes 6</li>
                                </ul>

                            </div>
                            <div id="test2" class="col s12">
                                <ul class="collection black-text">
                                    <li class="collection-item">Book 1.pdf</li>
                                    <li class="collection-item">Book 2.pdf</li>
                                    <li class="collection-item">Book 3.pdf</li>
                                    <li class="collection-item">Book 4.pdf</li>
                                    <li class="collection-item">Book 5.pdf</li>
                                    <li class="collection-item">Book 6.pdf</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col s4">
                        <div class="card teal darken-4 dates-card">
                            <div class="card-content white-text">
                                <span class="card-title ">Important Dates</span>
                                <p>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.
                                </p>
                                <a class="right-top btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>



    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js">
    </script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script type="text/javascript">
        //var thishref,thisdataTarget,thisdataTarget;

        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

        $(document).ready(function () {

            $('ul.tabs').tabs();

            var notdefault = '[href*=javascript], #anotherID a';
            var exclusion = ".tabs a, .anotherClass a"; // edit here your exclusion
            //$('a[href^=#]:not('+exclusion+')').on('click', function (e) {
            $('a[href^=#]:not(' + exclusion + ',' + notdefault + '),[data-mdtarget]').on('click', function (e) {
                //$('a[data-tab="tab"],a[data-tabs-to]').on('click', function(e) {

                if ($(this).is("a[href^=#]")) {
                    thishref = $(this).attr('href').split('#')[1];
                    thistarget = thishref;
                } else {
                    thisdataTarget = $(this).attr('data-mdtarget');
                    thistarget = thisdataTarget;
                }

                $('ul.tabs').tabs('select_tab', thistarget);
                console.log(thistarget);

            });

        });
        $(document).ready(function () {
            $('.tabs').tabs();
        });
    </script>


</body>
</html>